<div id="navbar" data-aos="fade-down">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarMenu" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="services">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="departments">Departments</a></li>
                    <li class="nav-item"><a class="nav-link" href="doctors">Doctors</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="pageMenuLink"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Blog</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="blog">Blog</a>
                            <a class="dropdown-item" href="blogDetail">Blog Detail</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="pageMenuLink"
                           data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Pages</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="about">About Us</a>
                            <a class="dropdown-item" href="faq">FAQs</a>
                            <a class="dropdown-item" href="galary">Galary</a>
                            <a class="dropdown-item" href="pricelist">Price list</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="contact">Contact Us</a></li>
                    <li class="nav-item d-md-none d-lg-none d-xl-none"><a class="nav-link" href="javascript:void(0);">Sign in</a></li>
                    <li class="nav-item d-md-none d-lg-none d-xl-none"><a class="nav-link" href="javascript:void(0);">Sign up</a></li>
                </ul>
                <form class="form-inline my-2 my-lg-0 d-none d-lg-inline-block">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </nav>
    </div>
</div>